html, body {
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;
    color: black;
    background-color: var(--background-color);
}

main {
    margin: auto;
    padding: 50px;
    flex: 1 0 auto;
}

header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 100%;
}

img {
    max-width: 100%;
}

a:link, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

.index-body {
    transform: translateY(5vh);
}

.post-body {
    text-align: left;
    transform: translateY(5vh);
}

.post-body table, td, th {
    border-collapse: separate;
    border-spacing: 5px;
    padding: 5px;
}

.post-image {
    text-align: center;
}

.tag {
    padding: 2px;
    border-radius: 5px;
    color: white;
    background-color: var(--accent);
}

.paginator {
    padding: 15px 0;
}

.list-item {
    padding-bottom: 25px;
    text-align: left;
}

pre {
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(245,245,245);
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    border-color: rgb(204,204,204);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgb(51,51,51)
}

code {
    background-color: rgb(245,245,245);
    word-break: break-all;
    overflow-wrap: break-all;
    color: rgb(51,51,51);
}

.navbar {
    background-color: var(--navbar-background-color);
    border-top: var(--border-top) solid var(--accent);
    border-bottom: var(--border-bottom) solid lightgrey;
    padding-top: 0px;
    width: 100%;
    display: flex;
    top: 0;
    position: fixed;
    overflow: auto;
    height: auto;
    z-index: 9999999999;
}

.nav-text-element {
    flex:1 1 0px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 50px;
}

.nav-icon-element {
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 50px;
}

.githubicon {
    content: url('/images/github-mark.svg');
    height: 16px;
    width: 16px;
}

.envelopeicon {
    content: url('/images/envelope.svg');
    height: 16px;
    width: 16px;
}

.copyright {
    margin: 5px 0;
    text-align: center;
    color: var(--accent);
}

.error {
    display: block;
    line-height: 1;
    font-family: monospace;
    white-space: pre;
    text-align: left;
    margin-top: 50px;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}
