{{- partial "header" . }}
<main>
  <section class="post-open">
    <div class="post-open-title">
      <h1>{{ .Title }}</h1>
      {{- if .Date }}
        <p>Posted: {{ .Date | time.Format ":date_medium" }}
        {{- if ne .Lastmod .Date }}
          <i>Updated: {{ .Lastmod | time.Format ":date_medium" }}</i>
        {{- end }}</p>
      {{- end }}
    </div>
    <div class="post-open-tags">
      {{- partial "tags" . -}}
    </div>
    <div class="post-open-quote">
      {{- if .Params.quote -}}
        {{- .Params.quote -}}
      {{- end -}}
    </div>
  </section>
  <section class="post-body">{{ .Content }}</section>
  {{- if .Params.comments }}
  <section class="post-comments">
    <h3>Comments</h3>
    {{ partial "comments" . }}
  </section>
  {{- end }}
</main>
{{ partial "footer" . }}
