{{ partial "header" . }}
<main>
  <div class="post-open">
    <div class="post-open-title">
      <h2>{{ .Title }}</h2>
      {{ if .Date }}
        <p>Posted: {{ .Date | time.Format ":date_medium" }}
        {{ if ne .Lastmod .Date }}
          <i>Updated: {{ .Lastmod | time.Format ":date_medium" }}</i>
        {{ end }}</p>
      {{ end }}
    </div>
    <div class="post-open-tags"> 
      {{ partial "tags" . }}
    </div>
    <div class="post-open-quote">
      {{ if .Params.quote }}
        {{ .Params.quote }}
      {{ end }}
    </div>
  </div>
  <div class="post-body">{{ .Content }}</div>
</main>
{{ if .Params.comments }}
  <comments>
    {{ partial "comments" . }}
  </comments>
{{ end }}
{{ partial "footer" . }}
