:root {
    --accent-color: {{ with .Site.Params.accentColor }} {{ . }} {{ else }} #565656 {{ end }};
    --text-color: {{ with .Site.Params.textColor }} {{ . }} {{ else }} black {{ end }};
    --background-color: {{ with .Site.Params.backgroundColor }} {{ . }} {{ else }} #fefbea {{ end }};
    --navbar-border-top: {{ with .Site.Params.navbarBorderTop }} {{ . }} {{ else }} 2px {{ end }};
    --navbar-border-bottom: {{ with .Site.Params.navbarBorderBottom }} {{ . }} {{ else }} 1px {{ end }};
    --navbar-background-color: {{ with .Site.Params.navbarBackgroundColor }} {{ . }} {{ else }} #ffffea {{ end }};
    --navbar-icon-size: {{ with .Site.Params.navbarIconSize }} {{ . }} {{ else }} 16px {{ end }};
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.4;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--background-color);
}

main {
    margin: auto;
    padding: 50px;
    flex: 1 0 auto;
}

header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 100%;
}

img {
    max-width: 100%;
}

a:link {
    color: var(--accent-color);
    text-decoration: underline;
}

a:visited {
    color: var(--accent-color);
    text-decoration: underline;
    opacity: 33%;
}

a.icon:hover {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
    font-style: italic;
}

.index-body {
    transform: translateY(5vh);
}

.post-body {
    text-align: left;
    transform: translateY(5vh);
}

.post-body table, td, th {
    border-collapse: separate;
    border-spacing: 5px;
    padding: 5px;
}

.post-open {
    display: flex;
    flex-direction: column;
}

.post-open-quote {
    padding-top: 15px;
    font-style: italic;
}

@media screen and (min-width: 650px) {
    .post-open {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .post-open-title {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .post-open-tags {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 2px;
    }
    .post-open-quote {
        padding-top: 50px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

.tag {
    padding: 2px;
    border-radius: 5px;
    color: var(--background-color);
    background-color: var(--accent-color);
}

.taglink {
    padding: 5px;
    border-radius: 5px;
}

.paginator {
    padding: 15px 0;
}

.list-item {
    padding-bottom: 25px;
    text-align: left;
}

pre {
    padding: 5px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    border-color: var(--accent-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.navbar {
    background-color: var(--navbar-background-color);
    border-top: var(--navbar-border-top) solid var(--accent-color);
    border-bottom: var(--navbar-border-bottom) solid var(--accent-color);
    padding-top: 0px;
    width: 100%;
    display: flex;
    top: 0;
    position: fixed;
    overflow: auto;
    height: auto;
    z-index: 10;
}

.nav-text-element {
    flex:1 1 0px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 50px;
}

.nav-text-element a {
   padding-right: 5px;
}

.nav-icon-element {
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 50px;
}

.nav-icon-element a {
    padding-left: 5px;
}

img.nav-icon {
    width: var(--navbar-icon-size);
    height: var(--navbar-icon-size);
}

.copyright {
    margin: 5px 0;
    text-align: center;
    color: var(--accent-color);
}

.error {
    display: block;
    line-height: 1;
    font-family: monospace;
    white-space: pre;
    text-align: left;
    margin-top: 50px;
}

footer {
    border-bottom: var(--border-width) solid var(--accent-color);
}
