<div id="newcomment">
  Name: <input type="text" id="commentName"/> This will be displayed with your post<br/>
  Email: <input type="text" id="commentEmail"/> This isn't visible to or shared with anyone except me (the site owner)<br/>
  Comment: <textarea id="commentText"></textarea><br/>
  <input type="button" value="Comment!" onClick="root_comment();"/>
  <i id="commentStatus"></i>
</div>
<br/>
<div id="commentCount"></div>
<div id="comments" onLoad="get_comments();">
  <ul id="rootCommentList">
  </ul>
</div>
