<header>
  <nav class="navbar">
    <ul class="navbar-text">
      {{- if .Site.Menus.main }}
        {{- range sort .Site.Menus.main }}
          <li class="navbar-text"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{- end }}
      {{- end }}
    </ul>
    <span class="navbar-filler"></span>
    <div class="navbar-icon"><ul class="navbar-icon">
      {{- if .Site.Menus.icon }}
        {{- range sort .Site.Menus.icon }}
          {{- if .Params.icon }}
            <li class="navbar-icon"><a class="navbar-icon" href="{{ .URL }}"><img alt="{{ .Name }}" src="{{ .Params.icon }}" class="navbar-icon"/></a></li>
          {{- end }}
        {{- end }}
      {{- end }}
    </ul></div>
  </nav>
</header>
