<style>
:root {
    --accent-color: {{ with .Site.Params.accentColor }} {{ . }} {{ else }} grey {{ end }};
    --border-top: 2px;
    --border-bottom: 1px;
    --background-color: {{ .Site.Params.backgroundColor }};
    --navbar-background-color: {{ .Site.Params.navbarBackgroundColor }};
    --navbar-icon-size: {{ with .Site.Params.navbarIconSize }} {{ . }} {{ else }} 16px {{ end }};
}
</style>

<link rel="stylesheet" href="/css/main.css">

{{ if .Params.highlight }}
  <link rel="stylesheet" href="/css/highlight.css">
{{ end }}
