<style>
:root {
    --accent-color: {{ with .Site.Params.accentColor }} {{ . }} {{ else }} #565656 {{ end }};
    --text-color: {{ with .Site.Params.textColor }} {{ . }} {{ else }} black {{ end }};
    --background-color: {{ with .Site.Params.backgroundColor }} {{ . }} {{ else }} #fefbea {{ end }};
    --navbar-border-top: {{ with .Site.Params.navbarBorderTop }} {{ . }} {{ else }} 2px {{ end }};
    --navbar-border-bottom: {{ with .Site.Params.navbarBorderBottom }} {{ . }} {{ else }} 1px {{ end }};
    --navbar-background-color: {{ with .Site.Params.navbarBackgroundColor }} {{ . }} {{ else }} #ffffea {{ end }};
    --navbar-icon-size: {{ with .Site.Params.navbarIconSize }} {{ . }} {{ else }} 16px {{ end }};
}
</style>
{{- $main_css := resources.Get "css/main.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
{{- $highlight_css := resources.Get "css/highlight.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $main_css.RelPermalink }}">
{{- if .Params.highlight }}
<link rel="stylesheet" href="{{ $highlight_css.RelPermalink }}">
{{- end }}
