{{- $paginator := .Paginate (where (where .Site.Pages "Type" "posts") "Title" "!=" "Posts")
                           (.Site.Params.itemsPerPage | default (int 5)) -}}
{{ partial "header" . }}
<main>
  {{ if eq .Paginator.PageNumber 1 }}
    {{ with .Content }} {{ . }} {{ end }}
  {{ end }}

  <h3>
    Recent Posts
    {{ if gt .Paginator.PageNumber 1 }} (page {{ .Paginator.PageNumber }}) {{ end }}
  </h3>

  {{ range $paginator.Pages }}
    {{ partial "list-item" . }}
  {{ end }}

  {{ partial "paginator" . }}
</main>
{{ partial "footer" . }}
